---
layout: base
title: Home
pagination:
    data: photos.uq9nuzt.media
    size: 1
    alias: winter
permalink: "/photos/{{ winter.id | slug }}/index.html"
---
<body style="background-color: {{winter.avg_color}};">
    <main>
        <nav>
            <ul>
                <li>
                    <a href="../../index.html">Home</a>
                </li>
                <li>
                    <a href="/aboutme/index.html">About Me</a>
                </li>
            </ul>
        </nav>

        <img src="{{ winter.src.large }}" alt="could not get photo">
        <br>
        <p>{{winter.alt}}</p>
    
        <p> Photo By: {{winter.photographer}} </p>
    
        <p> Photographer ID: {{winter.photographer_id}} </p>
    
        <a href="{{winter.photographer_url}}"><i>Click to contact photographer</i></a>
    </main>

    <footer>
        <hr>
        <p>
            <p>{% if pagination.href.previous %}<a href="{{pagination.href.previous}}"><b>PREVIOUS</b></a>{% endif %}  {% if pagination.href.next %}<a href="{{pagination.href.next}}"><b>Next</b></a>{% endif %}</p>
            <p><a href="/"><b>Home</a></b></p><!--also allow access to home from footer-->
            <small>
                <a href="https://www.pexels.com/%22%3EPhotos%22%3E">provided by Pexels</a>
            </small>
        </p>
    </footer>
</body>