---
layout: base
title: Home
pagination:
    data: photos.uq9nuzt.media
    size: 1
    alias: winter
permalink: "/photos/{{ winter.id | slug }}/index.html"
---
<header>

</header>

<body>
    <img src="{{ winter.src.large }}" alt="could not get photo">
    <br>
    {{winter.alt}}
    <br>
    {{winter.photographer}}
    <br>
    <a href="{{winter.photographer_url}}">Photographer link</a>
    <br>
    {{winter.photographer_id}}

</body>

<footer>
    <hr>
    <p>
        <li>{% if pagination.href.previous %}<a href="{{pagination.href.previous}}">prev</a>{% endif %}</li>
        <li>{% if pagination.href.next %}<a href="{{pagination.href.next}}">Next</a>{% endif %}</li>
        <li><a href="http://localhost:8080/">Return To The Tomepage</a></li>
        <small>
            <a href="https://www.pexels.com/%22%3EPhotos%22%3E">provided by Pexels</a>
        </small>
    </p>
</footer>