---
layout: base
title: Home
pagination:
    data: photos.uq9nuzt.media
    size: 1
    alias: winter
permalink: "/photos/{{ winter.id | slug }}/index.html"
---
<body style="background-color: {{winter.avg_color}};">
    <img src="{{ winter.src.large }}" alt="could not get photo">
    <br>
    <p>{{winter.alt}}</p>
    <br>
    Photo By: {{winter.photographer}}
    <br>
    Photographer ID: {{winter.photographer_id}}
    <br>
    <a href="{{winter.photographer_url}}">Click to contact photographer</a>
</body>

<footer>
    <hr>
    <p>
        <li>{% if pagination.href.previous %}<a href="{{pagination.href.previous}}">prev</a>{% endif %}</li>
        <li>{% if pagination.href.next %}<a href="{{pagination.href.next}}">Next</a>{% endif %}</li>
        <li><a href="/">Return To The Tomepage</a></li><!--as professor if this is ok-->
        <small>
            <a href="https://www.pexels.com/%22%3EPhotos%22%3E">provided by Pexels</a>
        </small>
    </p>
</footer>